{% extends 'base.html.twig' %}

{% block title %}Utilisateur campagnes{% endblock %}

{% block body %}
    <h1>Utilisateur campagnes</h1><br />
    <a class="btn btn-primary" href="{{ path('app_user_campaign_new') }}">Nouveau</a>
<br />
    <table class="table">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Campagne</th>
                <th>Crée le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_campaign in user_campaigns %}
            <tr>
                <td>{{ user_campaign.user.fullName }}</td>
                <td>{{ user_campaign.campaign.name }}</td>
                <td>{{ user_campaign.createdAt ? user_campaign.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_user_campaign_edit', {'id': user_campaign.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {{ knp_pagination_render(user_campaigns) }}
    </div>
{% endblock %}
