{% extends 'base.html.twig' %}

{% block title %}Campagne{% endblock %}

{% block body %}
    <h1>Campagne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ campaign.name }}</td>
            </tr>
            <tr>
                <th>Date création</th>
                <td>{{ campaign.createdAt ? campaign.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <br />
    <a href="{{ path('app_campaign_edit', {'id': campaign.id}) }}" class="btn btn-primary">éditer</a>
<br />
    {{ include('campaign/_delete_form.html.twig') }}
<br />
    <a href="{{ path('app_campaign_index') }}">retourner à la liste</a>

{% endblock %}
