{% extends 'base.html.twig' %}

{% block title %}Prospects{% endblock %}

{% block body %}
    <h1>Prospects</h1>
    <br />  {{ form(filterForm) }}
<br />
    <a href="{{ path('app_prospect_new') }}" class="btn btn-primary">Nouveau</a>
    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('app_import_prospect') }}" class="btn btn-primary">Importer XLS</a>
    {% endif %}
<br />
    <table class="table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Société</th>
                <th>Activité</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Téléphone</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prospect in prospects %}
            <tr>
                <td><input type="checkbox" onclick="handleDeleteMass({{ prospect.id }})" /></td>
                <td>{{ prospect.company }}</td>
                <td>{{ prospect.activity }}</td>
                <td>{{ prospect.address }}</td>
                <td>{{ prospect.postalCode }}</td>
                <td>{{ prospect.city }}</td>
                <td>{{ prospect.phone }}</td>
                <td>{{ prospect.mobile }}</td>
                <td>{{ prospect.email }}</td>
                <td>{{ prospect.commentary }}</td>
                <td>
                    <a href="{{ path('app_prospect_show', {'id': prospect.id}) }}">visualiser</a>
                    <a href="{{ path('app_prospect_edit', {'id': prospect.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">pas d'enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {{ knp_pagination_render(prospects) }}
    </div>
    <br />
    <a onclick="submitDeleteMass()" id="deleteMassButton" class="btn btn-secondary d-none">Supprimer tout</a>
    <br />
    <a target="_blank" href="{{ path('app_export', {'entity': 'prospect'}) }}?campaign={{ campaignId }}" class="btn btn-primary">Exporter tout CSV</a>

    {% include "delete_mass/script.html.twig" %}
{% endblock %}
